@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/variable/pretendardvariable.css");

@font-face {
  font-family: "Cascadia Code";
  src: url("/assets/fonts/CascadiaCode.woff2") format("woff2");
}

// 20240122 중요!
// px 단위 지우고 rem 단위로 바꿀 것 (유연성 확보)
// Fluent UI 생각 좀 해 보세요 https://github.com/microsoft/fluentui

// 2022.11.09 SCROLLBAR REPOSITIONING SOLUTION.
html {
  margin-right: calc(-1 * (100vw - 100%));
}

body {
  overflow-x: hidden;
  font-family: "Pretendard Variable";
  line-height: 1.6;
  font-weight: 500;
  color: var(--body-color);
}

table {
  @extend .table;
  @extend .table-striped;
}

blockquote {
  @extend .blockquote;
}

img {
  @extend .img-fluid;
  margin-top: 0.75rem;
  margin-bottom: 1rem;
}

// 링크 hover시 underline
a:hover {
  text-decoration: underline;
  transition: all 0.2s ease-in-out;
}

.body a {
  text-decoration: none;
}

//

h1 {
  word-break: keep-all;
}

h2,
h3,
h4 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  letter-spacing: -0.025rem;
  color: var(--heading-color);
}

// @@@@@@@@@@@@@@@@@@ 22.11.08 일체형 디자인으로 원복시킴. 부활하고 싶으면 주석 떼세욧
// // post 나뉜 디자인.
// // 첫 h1~h5 마진 조정
// h1:first-child,
// h2:first-child,
// h3:first-child,
// h4:first-child {
//   margin-top: 0;
// }

// // post.html에서 mt-4와 mt-0이 변경됨. (mt-4는 원본, margin-top: 4;)
// .post {
//   display: grid;
//   grid-template-columns: 1fr 2fr;
//   grid-gap: 10px;
// }
//

.chip {
  border-radius: 100px;
  border: solid 2px #939393;
  padding: 0px 10px;
  display: inline-block;
}

// 해당 사이즈에서 정상적으로 표시
@media (max-width: 576px) {
  .post {
    display: block;
  }

  h1 {
    word-break: break-all;
  }

  // 마진 조정 필요하지 않으니 제거
  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child {
    margin-top: 1.5rem;
  }
}

.navbar {
  margin-bottom: 0rem;
  // navbar bottom line deleted @ 23/06/05
  // border-bottom: 0.125rem solid hsl(0, 0%, 30%);
}

.navbar-brand {
  font-weight: 800;
  // font-family: "Cascadia Code" !important;
  font-family: "Pretendard Variable" !important;
}

.navbar-toggler {
  padding: 0px;
}

.archive-year {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.archive-date {
  float: right;
  margin-left: 1rem;
}

.archive-item {
  margin-bottom: 0.5rem;
}

.footer-container {
  text-align: center;
}

.footer-icons {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
}

.footer-icon-links {
  text-decoration: none;
  color: #212529;
}

.footer-icon-links:hover,
.footer-icon-links:focus {
  text-decoration: none;
  color: #212529;
}

.archive-title {
  color: #212529;
}

pre.highlight {
  padding: 1rem;
}

.dark-avatar {
  display: none !important;
}

.light-avatar,
.dark-avatar {
  margin-right: 0.25rem !important;
}

// padding 일체화
.container-fluid {
  padding: 0px;
}

.li {
  padding-bottom: 0.25rem;
}

.ul {
  padding-top: 0.25rem;
}

// 전체 사이즈 max-width: 720px; << 22.11.08 수정으로 전체 720px

@media (min-width: 576px) {

  .container,
  .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {

  .container,
  .container-md,
  .container-sm {
    max-width: 42rem;
  }
}

@media (min-width: 992px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 42rem;
  }
}

@media (min-width: 1200px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 42rem;
  }
}

@media (min-width: 1400px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 42rem;
  }
}

// !important를 해야 작동 (Bootstrap이랑 겹치는 듯?)
@media (prefers-color-scheme: light) {
  .highlight pre {
    background-color: #f8f9fa !important;
  }
}

@media (prefers-color-scheme: dark) {

  // 2022.11.11 heading colors added - dark
  :root {
    --heading-color: #e1e1e1;
    --body-color: #d1d1d1;
  }

  // 2022.11.09 BACKGROUND COLOR OF body IS CHANGED
  body {
    background-color: #0f0f0f;
  }

  .footer-icon-links {
    text-decoration: none;
    color: #e1e1e1;
  }

  .footer-icon-links:hover,
  .footer-icon-links:focus {
    text-decoration: none;
    color: #e1e1e1;
  }

  .archive-title {
    color: #e1e1e1;
  }

  .light-avatar {
    display: none !important;
  }

  .dark-avatar {
    display: inline-block !important;
  }

  .highlight {
    background-color: #272822;
  }
}